    /* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
        box-sizing: border-box;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
  

    nav {
        display: flex;
        justify-content: space-between;
        height: 65px;
        background-color: #0e2782;
        color: white;
        position: fixed;
        width: 100%;
        box-shadow: 3px 3px blue;

        /* background-color: blue; */
    }

    nav .logo {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-shadow: 2px 2px red;
        padding: 10px 10px;
        font-size: 15px;
    
    }

    .menu ul {
        display :flex;

    }

    .menu ul li {
        font-family: 'Andada Pro', serif;
        font-size: 12px;
        padding: 20px; 
        margin-top: 10px;
        
    }

    .menu ul li a {
        border-bottom:2px  rgb(123, 115, 196) solid;
        text-decoration: none;
        color: white;
        font-size: 13px;
        letter-spacing: 2px ;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }


    main {
        display: flex;
        padding: 30px;
        background: #273049;
    }

        .content {
            color: white;
            padding: 20px;
        }

    .content h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 60px;
        
    }

    .content p {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }


    .content button {
        color: white;
        background-color: rgb(7, 7, 163);
        padding: 20px;
        font-size: 15px;
        box-shadow: 5px 5px rgb(34, 34, 53);;
        border: none;
        border-radius: 10px;
    }
    .content button:hover {
        color: white;
        background-color: rgb(3, 3, 44);
        padding: 20px;
        font-size: 30px;
        cursor: pointer;
        box-shadow: 5px 5px rgb(191, 191, 206);;
        border: none;
        border-radius: 10px;
    }

    .image img {
        margin : 40px 15px;
        padding: 10px 10px;
        height: 400px;
        border-radius: 55%;
      
    }
    .layanan {
        height: 500px;
        justify-content: space-evenly;
        /* padding: 40px; */
    }
  
   .layanan h1 {
       text-align: center;
       font-size: 60px;
   }


    .layanan .card {
        
        display: flex;
        justify-content: space-evenly;

        
    }
   .card .card-item {
       box-shadow: 4px 5px #888888;
       color: white;
       width: 30%;
       padding: 10px 10px;
       text-align: center;
       background-color:rgb(37, 37, 155);
       

   }

   .card-item p {
       font-style: italic;
       letter-spacing: 1.5;
       font-size:xx-large;
   }

    .team {
    height: 400px;
}

    .team h1 {
    text-align: center;
    font-size: 60px;
}

    .card-team {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;

}



.testimoni h1{
font-size: 60px;
text-align: center;
}

.testi {
    height: 500px;  
    display: flex;
    justify-content: space-evenly;
   
}
.testi img{
    border-radius: 50%;
  
    height: 200px;
    width: 200px;
    box-shadow: 5px 5px rgb(245, 235, 235);
}

.testi-story h3  {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 30px;
}

.testi-story p {
    font-size:30px;
    font-style: italic;
}

.testi-story p span {
    color: #273049;
    font-weight: bold;
}
.card-profile {
border: 2px blue solid;
border-radius: 4px 10px black;
padding: 10px 10px;
margin: 10px 10px;

}


.footer {
    display: flex;
    background: #273049;
    color: white;
    justify-content: space-evenly;
}

.kontak-kami ul li {
    margin-top: 10px;
    padding-top: 5px;
}


    @media (max-width: 675px) {


       main {
          
           flex-direction: column;
       }

       .content button {
        color: white;
        background-color: rgb(7, 7, 163);
        padding: 20px;
        font-size: 15px;
        box-shadow: 5px 5px rgb(34, 34, 53);;
        border: none;
        border-radius: 10px;
    }

    .content button:hover {
        color: white;
        background-color: rgb(3, 3, 44);
        padding: 20px;
        font-size: 30px;
        cursor: pointer;
        box-shadow: 5px 5px rgb(191, 191, 206);;
        border: none;
        border-radius: 10px;
    }


       .image img {
        width: 70%;
        height: 300px;
       }

       .layanan {
           height: 900px;
           padding-bottom:100px;
       }

       .layanan .card {
        padding: 20px;
        flex-direction: column;
        text-align: center;
       
        
    }
    .card .card-item {
        width: 400px;
        margin-top: 20px;
        margin-left:15px;
        text-align: center;
    }
    
    .team {
        height: 700px;
    }
    

    .team .card-team {
        flex-direction: column;

       
        
    }




    .testi {
        flex-direction: column;
        padding: 20px;
    }

    .testi img {
        width: 100%;
    }
    .footer {
        flex-direction: column;
        padding: 10px 10px;
    } 

    .kontak-kami ul li {
        margin-top: 10px;
    }
 
      }